@page "/edititem/{Id}"
@using BlazorApp1.Models
@using BlazorApp1.Services
@inject PromptServices PromptService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Edit Prompt</h3>

@if (editPrompt == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="editPrompt" FormName="Edit Form" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label>NameOfUser: </label>
            <InputText class="form-control" id="nameOfUser" @bind-Value="editPrompt.NameOfUser" />
        </div>
        <div>
            <label>NameOfPrompt: </label>
            <InputText class="form-control" id="nameOfPrompt" @bind-Value="editPrompt.NameOfPrompt" />
        </div>
        <div>
            <label>Description: </label>
            <InputText class="form-control" id="description" @bind-Value="editPrompt.Description" />
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </EditForm>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Prompt editPrompt;

    protected override async Task OnInitializedAsync()
    {
        editPrompt = await PromptService.ReadPromptAsync(Id);
    }

    private async Task HandleValidSubmit()
    {
        editPrompt.TimeOfUpdate = DateTime.Now;
        await PromptService.UpdatePromptAsync(editPrompt);
        NavigationManager.NavigateTo("/promptslist");
    }
}